<mat-toolbar>
  <mat-toolbar-row class="row4">
    Backlog Items

    <span class="flexspacer"></span>

    <mat-form-field class="toolbar" *ngIf="hasStories && !showSpinner">
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>

    <span class="flexspacer"></span>

    <button mat-raised-button color="primary" (click)="onAdd()">Add Backlog Item</button>
  </mat-toolbar-row>
</mat-toolbar>

<sat-spinner [show]="showSpinner"></sat-spinner>

<mat-card *ngIf="!hasStories && !showSpinner">
  <mat-card-content>
    There are currently no items for this feature.
  </mat-card-content>
</mat-card>

<div [style.display]="(hasStories && !showSpinner) ? 'block' : 'none'">
  <mat-table matSort matSortActive="Priority" matSortDirection="asc" #table>
    <ng-container matColumnDef="Priority">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Priority</mat-header-cell>
      <mat-cell *matCellDef="let story" (click)="onView(story)">{{story.Priority}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="Name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
      <mat-cell *matCellDef="let story" (click)="onView(story)">{{story.Name}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="Description">
      <mat-header-cell *matHeaderCellDef>Description</mat-header-cell>
      <mat-cell *matCellDef="let story" [innerHTML]="story.Description | lineBreakBRs" (click)="onView(story)"></mat-cell>
    </ng-container>

    <ng-container matColumnDef="StorySize">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Size</mat-header-cell>
      <mat-cell *matCellDef="let story" (click)="onView(story)">{{story.StorySize}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="SprintNumber">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Sprint</mat-header-cell>
      <mat-cell *matCellDef="let story" (click)="onView(story)">
        {{story.SprintNumber ? story.SprintNumber : 'n/a'}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="ReleaseNumber">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Release</mat-header-cell>
      <mat-cell *matCellDef="let story" (click)="onView(story)">
        {{story.ReleaseNumber ? story.ReleaseNumber : 'n/a'}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Actions">
      <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
      <mat-cell *matCellDef="let story">
        <button mat-icon-button color="primary" aria-label="Edit" (click)="onEdit(story)">
          <mat-icon aria-hidden="true">edit</mat-icon>
        </button>
        <button mat-icon-button color="accent" aria-label="Convert to Feature" (click)="onConvert(story)">
          <mat-icon aria-hidden="true">autorenew</mat-icon>
        </button>
        <button mat-icon-button color="warn" aria-label="Delete" (click)="onDelete(story)">
          <mat-icon aria-hidden="true">delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" class="clickabul"></mat-row>
  </mat-table>
</div>