<mat-toolbar>
  <mat-toolbar-row>
    {{title}}
  </mat-toolbar-row>
</mat-toolbar>

<mat-dialog-content *ngIf="story">
  <mat-card>
    <mat-card-content>
      <div [innerHTML]="story.Description | lineBreakBRs"></div>

      <ng-container *ngIf="story.RisksDependencies && !!story.RisksDependencies.length">
        <div>
          <b>Risks and dependencies:</b>
        </div>

        <div [innerHTML]="story.RisksDependencies | lineBreakBRs"></div>
      </ng-container>

      <mat-card *ngIf="story.StorySize || (story.Acceptance && !!story.Acceptance.length)">
        <mat-card-subtitle>
          <h4>Story Info</h4>
        </mat-card-subtitle>

        <mat-card-content>
          <div>
            <b>Story points:</b>
            {{story.StorySize}}
          </div>

          <div>
            <b>Acceptance criteria:</b>
          </div>
          <div [innerHTML]="story.Acceptance | lineBreakBRs"></div>
        </mat-card-content>
      </mat-card>

      <mat-card *ngIf="story.SprintId && !!story.SprintId.length">
        <mat-card-subtitle>
          <h4>Sprint</h4>
        </mat-card-subtitle>

        <mat-card-content>
          <div>
            <b>Number:</b> {{story.SprintNumber}}
            <br>
            <b>Dates:</b>
            from {{story.StartDate | date:'M/d/yyyy'}}
            to {{story.EndDate | date:'M/d/yyyy'}}
          </div>
        </mat-card-content>
      </mat-card>

      <mat-card *ngIf="story.ReleaseId && !!story.ReleaseId.length">
        <mat-card-subtitle>
          <h4>Release</h4>
        </mat-card-subtitle>

        <mat-card-content>
          <div>
            <b>Number:</b> {{story.ReleaseNumber}}
            <br>
            <b>Release date:</b>
            {{story.ReleaseDate | date:'M/d/yyyy'}}
          </div>
        </mat-card-content>
      </mat-card>

      <div>
        <b>Complete?</b> {{story.IsComplete ? 'YES' : 'NO'}}
      </div>

      <mat-card *ngIf="story.QANotes && !!story.QANotes.length">
        <mat-card-subtitle>
          <h4>QA Notes</h4>
        </mat-card-subtitle>

        <mat-card-content>
          <div [innerHTML]="story.QANotes | lineBreakBRs"></div>
        </mat-card-content>
      </mat-card>
    </mat-card-content>

    <mat-card-actions>
      <button mat-raised-button color="primary" aria-label="Edit" (click)="onEdit()">
        <mat-icon aria-hidden="true">edit</mat-icon>
        Edit
      </button>
      <button mat-raised-button color="warn" aria-label="Delete" (click)="onDelete()">
        <mat-icon aria-hidden="true">delete</mat-icon>
        Delete
      </button>
      <button mat-raised-button color="accent" aria-label="Close" mat-dialog-close>
        <mat-icon aria-hidden="true">close</mat-icon>
        Close
      </button>
    </mat-card-actions>
  </mat-card>
</mat-dialog-content>
