<mat-toolbar>
  <mat-toolbar-row>
    Convert '{{story?.Name}}' to a Feature
  </mat-toolbar-row>
</mat-toolbar>

<form [formGroup]="convertForm" (ngSubmit)="onSubmit()">
  <mat-dialog-content>
    <mat-card>
      <mat-card-content>
        <mat-form-field>
          <mat-select formControlName="EpicId" placeholder="Epic">
            <mat-option value="">[Select one ...]</mat-option>
            <mat-option *ngFor="let epc of epicList" [value]="epc.Id">{{epc.Title}}</mat-option>
          </mat-select>
          <mat-error *ngIf="EpicId.invalid && EpicId.dirty && EpicId.touched">
            An Epic must be selected.
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="text" formControlName="Title" placeholder="Name">
          <mat-error *ngIf="Title.invalid && Title.dirty && Title.touched">
            Name must not be blank.
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <textarea matInput matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="6" formControlName="Description" placeholder="Description"></textarea>
        </mat-form-field>
        <mat-form-field>
          <textarea matInput matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="6" formControlName="RisksDependencies" placeholder="Risks and dependencies"></textarea>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="integer" formControlName="Priority" placeholder="Priority">
        </mat-form-field>
      </mat-card-content>

      <mat-card-actions>
        <button mat-raised-button color="primary" type="submit" aria-label="Save" [disabled]="!convertForm.valid">
          <mat-icon aria-hidden="true">save</mat-icon>
          Save
        </button>
        <button mat-raised-button color="warn" aria-label="Cancel" mat-dialog-close>
          <mat-icon aria-hidden="true">cancel</mat-icon>
          Cancel
        </button>
      </mat-card-actions>
    </mat-card>
  </mat-dialog-content>
</form>
