<mat-toolbar>
  <mat-toolbar-row class="row4">
    Release Sprints

    <span class="flexspacer"></span>

    <mat-form-field class="toolbar" *ngIf="hasSprints && !showSpinner">
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>

    <span class="flexspacer"></span>

    <button mat-raised-button color="primary" (click)="onAdd()">Add Sprint</button>
  </mat-toolbar-row>
</mat-toolbar>

<sat-spinner [show]="showSpinner"></sat-spinner>

<mat-card *ngIf="!hasSprints && !showSpinner">
  <mat-card-content>
    There are currently no sprints for this release.
  </mat-card-content>
</mat-card>

<div [style.display]="(hasSprints && !showSpinner) ? 'block' : 'none'">
  <mat-table #table>
    <ng-container matColumnDef="Sprint">
      <mat-header-cell *matHeaderCellDef>Sprint</mat-header-cell>
      <mat-cell *matCellDef="let sprint">{{sprint.SprintNumber}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="Goal">
      <mat-header-cell *matHeaderCellDef>Goal</mat-header-cell>
      <mat-cell *matCellDef="let sprint" [innerHTML]="sprint.Goal | lineBreakBRs"></mat-cell>
    </ng-container>

    <ng-container matColumnDef="Dates">
      <mat-header-cell *matHeaderCellDef>Dates</mat-header-cell>
      <mat-cell *matCellDef="let sprint">
        {{sprint.StartDate | date:'M/d/yyyy'}}
        &ndash;
        {{sprint.EndDate | date:'M/d/yyyy'}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Actions">
      <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
      <mat-cell *matCellDef="let sprint">
        <button mat-icon-button color="warn" aria-label="Remove" (click)="onSprintRemove(sprint)">
          <mat-icon aria-hidden="true">delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>