<mat-toolbar>
  <mat-toolbar-row class="row3">
    <a class="clickabul" (click)="onDisplay()">
      <mat-icon *ngIf="hidden" matTooltip="Show release details" matTooltipClass="tip" matTooltipPosition="after">expand_more</mat-icon>
      <mat-icon *ngIf="!hidden" matTooltip="Hide release details" matTooltipClass="tip" matTooltipPosition="after">expand_less</mat-icon>
      Release {{release?.ReleaseNumber}}
    </a>

    <span class="flexspacer"></span>

    <button mat-raised-button color="primary" (click)="onEdit()">Edit Release</button>
    <button mat-raised-button color="primary" (click)="onDelete()">Delete Release</button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-card *ngIf="!hidden">
  <mat-card-content>
    <div [innerHTML]="release?.Notes | lineBreakBRs"></div>

    <div>
      <b>Release date:</b>
      {{release?.ReleaseDate | date:'M/d/yyyy'}}
    </div>
  </mat-card-content>
</mat-card>

<sat-release-sprints [productId]="productId" [releaseId]="releaseId"></sat-release-sprints>
