<mat-toolbar>
  <mat-toolbar-row>
    {{title}}
  </mat-toolbar-row>
</mat-toolbar>

<form [formGroup]="relForm" (ngSubmit)="onSubmit()">
  <mat-dialog-content>
    <mat-card>
      <mat-card-content>
        <mat-form-field>
          <input matInput type="integer" formControlName="ReleaseNumber" placeholder="Release number">
          <mat-error *ngIf="ReleaseNumber.invalid && ReleaseNumber.dirty && ReleaseNumber.touched">
            {{ReleaseNumber.errors.min ? 'Release number must be at least 1.' : 'Release number must not be blank.'}}
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput [matDatepicker]="ReleaseDate" formControlName="ReleaseDate" placeholder="Release date">
          <mat-datepicker-toggle matSuffix [for]="ReleaseDate"></mat-datepicker-toggle>
          <mat-datepicker #ReleaseDate></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
          <textarea matInput matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="6" formControlName="Notes" placeholder="Notes"></textarea>
        </mat-form-field>
      </mat-card-content>

      <mat-card-actions>
        <button mat-raised-button color="primary" type="submit" aria-label="Save" [disabled]="!relForm.valid">
          <mat-icon aria-hidden="true">save</mat-icon>
          Save
        </button>
        <button mat-raised-button color="warn" aria-label="Cancel" mat-dialog-close>
          <mat-icon aria-hidden="true">cancel</mat-icon>
          Cancel
        </button>
      </mat-card-actions>
    </mat-card>
  </mat-dialog-content>
</form>
