<mat-toolbar>
  <mat-toolbar-row class="row3">
    Releases

    <span class="flexspacer"></span>

    <mat-form-field class="toolbar" *ngIf="hasReleases && !showSpinner">
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>

    <span class="flexspacer"></span>

    <button mat-raised-button color="accent" (click)="onAdd()">Add Release</button>
  </mat-toolbar-row>
</mat-toolbar>

<sat-spinner [show]="showSpinner"></sat-spinner>

<mat-card *ngIf="!hasReleases && !showSpinner">
  <mat-card-content>
    There are currently no releases for this product.
  </mat-card-content>
</mat-card>

<div [style.display]="(hasReleases && !showSpinner) ? 'block' : 'none'">
  <mat-table matSort matSortActive="ReleaseNumber" matSortDirection="desc" #table>
    <ng-container matColumnDef="ReleaseNumber">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Release</mat-header-cell>
      <mat-cell *matCellDef="let rel" routerLink="./{{rel.Id}}">{{rel.ReleaseNumber}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="ReleaseDate">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Date</mat-header-cell>
      <mat-cell *matCellDef="let rel" routerLink="./{{rel.Id}}">{{rel.ReleaseDate | date:'M/d/yyyy'}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="Actions">
      <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
      <mat-cell *matCellDef="let rel">
        <button mat-icon-button color="primary" aria-label="Edit" (click)="onEdit(rel)">
          <mat-icon aria-hidden="true">edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" aria-label="Delete" (click)="onDelete(rel)">
          <mat-icon aria-hidden="true">delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" class="clickabul"></mat-row>
  </mat-table>
</div>