<mat-toolbar>
  <mat-toolbar-row>
    Add Sprint
  </mat-toolbar-row>
</mat-toolbar>

<form [formGroup]="sptForm" (ngSubmit)="onSubmit()">
  <mat-dialog-content>
    <mat-card>
      <mat-card-content>
        <mat-form-field>
          <mat-select formControlName="SprintId" placeholder="Sprint">
            <mat-option value="">[Select one ...]</mat-option>
            <mat-option *ngFor="let sprint of sprints" [value]="sprint.Id">
              {{sprint.SprintNumber}}
              [{{sprint.StartDate | date:'M/d/yyyy'}} &ndash; {{sprint.EndDate | date:'M/d/yyyy'}}]
            </mat-option>
          </mat-select>
          <mat-error *ngIf="SprintId.invalid && SprintId.dirty && SprintId.touched">
            A Sprint must be selected.
          </mat-error>
        </mat-form-field>
      </mat-card-content>

      <mat-card-actions>
        <button mat-raised-button color="primary" type="submit" aria-label="Save" [disabled]="!sptForm.valid">
          <mat-icon aria-hidden="true">save</mat-icon>
          Save
        </button>
        <button mat-raised-button color="warn" aria-label="Cancel" mat-dialog-close>
          <mat-icon aria-hidden="true">cancel</mat-icon>
          Cancel
        </button>
      </mat-card-actions>
    </mat-card>
  </mat-dialog-content>
</form>
