<mat-toolbar>
  <mat-toolbar-row class="row3">
    Backlog Epics
    
    <span class="flexspacer"></span>
    
    <mat-form-field class="toolbar" *ngIf="hasEpics && !showSpinner">
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
    
    <span class="flexspacer"></span>
    
    <button mat-raised-button color="accent" (click)="onAdd()">Add Epic</button>
  </mat-toolbar-row>

  <mat-toolbar-row class="row3" *ngIf="hasEpics && !showSpinner">
    Exports:

    <span class="flexspacer"></span>

    <button mat-stroked-button (click)="getEpicExcel()">
      <mat-icon aria-hidden="true">file_download</mat-icon>
      Epics
    </button>
    <button mat-stroked-button (click)="getFeatureExcel()">
      <mat-icon aria-hidden="true">file_download</mat-icon>
      Features
    </button>
    <button mat-stroked-button (click)="getFeatureExcelByEpic()">
      <mat-icon aria-hidden="true">file_download</mat-icon>
      Features by Epic
    </button>
    <button mat-stroked-button (click)="getBacklogExcel()">
      <mat-icon aria-hidden="true">file_download</mat-icon>
      Backlog by Epic
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<sat-spinner [show]="showSpinner"></sat-spinner>

<mat-card *ngIf="!hasEpics && !showSpinner">
  <mat-card-content>
    There are currently no epics for this product.
  </mat-card-content>
</mat-card>

<div [style.display]="(hasEpics && !showSpinner) ? 'block' : 'none'">
  <mat-table matSort matSortActive="Priority" matSortDirection="asc" #table>
    <ng-container matColumnDef="Priority">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Priority</mat-header-cell>
      <mat-cell *matCellDef="let epic" routerLink="./{{epic.Id}}">{{epic.Priority}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="Title">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
      <mat-cell *matCellDef="let epic" routerLink="./{{epic.Id}}">{{epic.Title}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="Description">
      <mat-header-cell *matHeaderCellDef>Description</mat-header-cell>
      <mat-cell *matCellDef="let epic" [innerHTML]="epic.Description | lineBreakBRs" routerLink="./{{epic.Id}}"></mat-cell>
    </ng-container>

    <ng-container matColumnDef="Actions">
      <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
      <mat-cell *matCellDef="let epic">
        <button mat-icon-button color="primary" aria-label="Edit" (click)="onEdit(epic)">
          <mat-icon aria-hidden="true">edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" aria-label="Delete" (click)="onDelete(epic)">
          <mat-icon aria-hidden="true">delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" class="clickabul"></mat-row>
  </mat-table>
</div>