<mat-toolbar>
  <mat-toolbar-row class="row3">
    <a class="clickabul" (click)="onDisplay()">
      <mat-icon *ngIf="hidden" matTooltip="Show epic details" matTooltipClass="tip" matTooltipPosition="after">expand_more</mat-icon>
      <mat-icon *ngIf="!hidden" matTooltip="Hide epic details" matTooltipClass="tip" matTooltipPosition="after">expand_less</mat-icon>
      Epic #{{epic?.Priority}}. {{epic?.Title}}
    </a>

    <span class="flexspacer"></span>

    <button mat-raised-button color="primary" (click)="onEdit()">Edit Epic</button>
    <button mat-raised-button color="primary" (click)="onDelete()">Delete Epic</button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-card class="row3" *ngIf="!hidden">
  <mat-card-subtitle>
    <h4>Epic Details</h4>
  </mat-card-subtitle>

  <mat-card-content>
    <div [innerHTML]="epic?.Description | lineBreakBRs"></div>
  </mat-card-content>
</mat-card>

<sat-features [productId]="productId" [epicId]="epicId"></sat-features>