<mat-toolbar>
  <mat-toolbar-row>
    {{title}}
  </mat-toolbar-row>
</mat-toolbar>

<form [formGroup]="epicForm" (ngSubmit)="onSubmit()">
  <mat-dialog-content>
    <mat-card>
      <mat-card-content>
        <mat-form-field>
          <input matInput type="text" formControlName="Title" placeholder="Name">
          <mat-error *ngIf="Title.invalid && Title.dirty && Title.touched">
            Name must not be blank.
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <textarea matInput matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="6" formControlName="Description" placeholder="Description"></textarea>
          <mat-error *ngIf="Description.invalid && Description.dirty && Description.touched">
            Description must not be blank.
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="integer" formControlName="Priority" placeholder="Priority">
        </mat-form-field>
      </mat-card-content>

      <mat-card-actions>
        <button mat-raised-button color="primary" type="submit" aria-label="Save" [disabled]="!epicForm.valid">
          <mat-icon aria-hidden="true">save</mat-icon>
          Save
        </button>
        <button mat-raised-button color="warn" aria-label="Cancel" mat-dialog-close>
          <mat-icon aria-hidden="true">cancel</mat-icon>
          Cancel
        </button>
      </mat-card-actions>
    </mat-card>
  </mat-dialog-content>
</form>
