<mat-toolbar>
  <mat-toolbar-row class="row2">
    Products

    <span class="flexspacer"></span>

    <mat-form-field class="toolbar" *ngIf="hasProducts">
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>

    <span class="flexspacer"></span>

    <button mat-raised-button color="accent" *ngIf="isAdmin" (click)="onAdd()">Add Product</button>
  </mat-toolbar-row>
</mat-toolbar>

<sat-spinner [show]="showSpinner"></sat-spinner>

<mat-card *ngIf="!hasProducts && !showSpinner">
  <mat-card-content>
    There are currently no products for this user.
  </mat-card-content>
</mat-card>

<div [style.display]="(hasProducts && !showSpinner) ? 'block' : 'none'">
  <mat-table matSort matSortActive="Name" matSortDirection="asc" #table>
    <ng-container matColumnDef="Name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
      <mat-cell *matCellDef="let product" (click)="onView(product)">{{product.Name}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="Description">
      <mat-header-cell *matHeaderCellDef>Description</mat-header-cell>
      <mat-cell *matCellDef="let product" [innerHTML]="product.Description | lineBreakBRs" (click)="onView(product)"></mat-cell>
    </ng-container>

    <ng-container matColumnDef="SprintLength">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Sprint Length</mat-header-cell>
      <mat-cell *matCellDef="let product" (click)="onView(product)">
        {{product.SprintLength ? product.SprintLength + ((product.SprintLength === 1) ? ' week' : ' weeks') : ''}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="InBacklogPhase">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Current phase</mat-header-cell>
      <mat-cell *matCellDef="let product" (click)="onView(product)">
        {{product.InBacklogPhase ? 'Backlog' : 'Development'}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Actions">
      <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
      <mat-cell *matCellDef="let product">
        <button mat-icon-button color="primary" aria-label="Edit" (click)="onEdit(product)" *ngIf="isAdmin">
          <mat-icon aria-hidden="true">edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" aria-label="Delete" (click)="onDelete(product.Id)" *ngIf="isAdmin">
          <mat-icon aria-hidden="true">delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" class="clickabul"></mat-row>
  </mat-table>
</div>