<mat-toolbar>
  <mat-toolbar-row class="row2">
    <a class="clickabul" (click)="onDetails()">
      <mat-icon *ngIf="hidden" matTooltip="Show product details" matTooltipClass="tip" matTooltipPosition="after">expand_more</mat-icon>
      <mat-icon *ngIf="!hidden" matTooltip="Hide product details" matTooltipClass="tip" matTooltipPosition="after">expand_less</mat-icon>
      Product &gt; {{selectedProduct?.Name}} ({{phase}})
    </a>

    <span class="flexspacer"></span>

    <button mat-stroked-button routerLinkActive="active" routerLink="./epics">Manage Epics</button>
    <button mat-stroked-button routerLinkActive="active" routerLink="./backlog">Manage Backlog</button>
    <button mat-stroked-button routerLinkActive="active" routerLink="./sprints">Manage Sprints</button>
    <button mat-stroked-button routerLinkActive="active" routerLink="./releases">Manage Releases</button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-card class="row2" *ngIf="!hidden">
  <mat-card-subtitle>
    <h4 class="row2">Product Details</h4>
  </mat-card-subtitle>

  <mat-card-content *ngIf="selectedProduct">
    <div [innerHTML]="selectedProduct.Description | lineBreakBRs"></div>

    <div>
      <b>Sprint duration:</b>
      {{selectedProduct.SprintLength}} {{(selectedProduct.SprintLength === 1) ? 'week' : 'weeks'}}
    </div>
  </mat-card-content>
</mat-card>

<router-outlet></router-outlet>