<mat-toolbar>
  <mat-toolbar-row>
    {{title}}
  </mat-toolbar-row>
</mat-toolbar>

<form [formGroup]="productForm" (ngSubmit)="onSubmit()">
  <mat-dialog-content>
    <mat-card>
      <mat-card-content>
        <mat-form-field>
          <input matInput type="text" formControlName="Name" placeholder="Name">
          <mat-error *ngIf="Name.invalid && Name.dirty && Name.touched">
            Name must not be blank.
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <textarea matInput matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="6" formControlName="Description" placeholder="Description"></textarea>
          <mat-error *ngIf="Description.invalid && Description.dirty && Description.touched">
            Description must not be blank.
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-select formControlName="SprintLength" placeholder="Sprint duration">
            <mat-option value="">[Optional ...]</mat-option>
            <mat-option *ngFor="let lng of sprintLengths" [value]="lng.value">{{lng.display}}</mat-option>
          </mat-select>
        </mat-form-field>
        <div>
          <mat-checkbox formControlName="InBacklogPhase" color="primary">In backlog phase</mat-checkbox>
        </div>
      </mat-card-content>

      <mat-card-actions>
        <button mat-raised-button color="primary" type="submit" aria-label="Save" [disabled]="!productForm.valid">
          <mat-icon aria-hidden="true">save</mat-icon>
          Save
        </button>
        <button mat-raised-button color="warn" aria-label="Cancel" mat-dialog-close>
          <mat-icon aria-hidden="true">cancel</mat-icon>
          Cancel
        </button>
      </mat-card-actions>
    </mat-card>
  </mat-dialog-content>
</form>
