<mat-toolbar>
  <mat-toolbar-row>
    {{data.title}}
  </mat-toolbar-row>
</mat-toolbar>

<mat-dialog-content>
  {{data.content}}
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-raised-button color="accent" aria-label="OK" mat-dialog-close>
    <mat-icon aria-hidden="true">close</mat-icon>
    OK
  </button>
</mat-dialog-actions>
