<mat-toolbar>
  <mat-toolbar-row>
    {{data.remType}} {{data.recordType}}
  </mat-toolbar-row>
</mat-toolbar>

<mat-dialog-content>
  Are you sure you want to {{data.remType | lowercase}} this {{data.recordType}}?
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-raised-button [mat-dialog-close]="false" aria-label="No" color="accent">
    <mat-icon aria-hidden="true">close</mat-icon>
    No
  </button>
  <button mat-raised-button [mat-dialog-close]="true" aria-label="Yes" color="warn">
    <mat-icon aria-hidden="true">check</mat-icon>
    Yes
  </button>
</mat-dialog-actions>
