<mat-toolbar>
  <mat-toolbar-row>
    {{title}}
  </mat-toolbar-row>
</mat-toolbar>

<form [formGroup]="issForm" (ngSubmit)="onSubmit()">
  <mat-dialog-content>
    <mat-card>
      <mat-card-content>
        <mat-form-field>
          <input matInput formControlName="Name" placeholder="Name">
          <mat-error *ngIf="Name.invalid && Name.dirty && Name.touched">
            Name must not be blank.
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <textarea matInput matTextareaAutosize matAutosizeMinRows="4" matAutosizeMaxRows="8" formControlName="Description" placeholder="Description"></textarea>
          <mat-error *ngIf="Description.invalid && Description.dirty && Description.touched">
            Description must not be blank.
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-select formControlName="AssignedTo" placeholder="Assigned to">
            <mat-option value="">[Optional ...]</mat-option>
            <mat-option [value]="u.uid" *ngFor="let u of users">
              {{u.displayName}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-select formControlName="Status" placeholder="Status">
            <mat-option>[Select one ...]</mat-option>
            <mat-option *ngFor="let s of status" [value]="s">
              {{s}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="Status.invalid && Status.dirty && Status.touched">
            A Status must be selected.
          </mat-error>
        </mat-form-field>
      </mat-card-content>

      <mat-card-actions>
        <button mat-raised-button color="primary" type="submit" aria-label="Save" [disabled]="!issForm.valid">
          <mat-icon aria-hidden="true">save</mat-icon>
          Save
        </button>
        <button mat-raised-button color="warn" aria-label="Cancel" mat-dialog-close>
          <mat-icon aria-hidden="true">cancel</mat-icon>
          Cancel
        </button>
      </mat-card-actions>
    </mat-card>
  </mat-dialog-content>
</form>
