<mat-toolbar>
  <mat-toolbar-row class="row4">
    Sprint Stories

    <span class="flexspacer"></span>

    <mat-form-field class="toolbar" *ngIf="hasStories && !showSpinner">
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>

    <span class="flexspacer"></span>

    <button mat-raised-button color="primary" (click)="onAdd()">Add Story</button>
  </mat-toolbar-row>
</mat-toolbar>

<sat-spinner [show]="showSpinner"></sat-spinner>

<mat-card *ngIf="!hasStories && !showSpinner">
  <mat-card-content>
    There are currently no stories for this sprint.
  </mat-card-content>
</mat-card>

<div [style.display]="(hasStories && !showSpinner) ? 'block' : 'none'">
  <mat-table matSort matSortActive="Name" matSortDirection="asc" #table>
    <ng-container matColumnDef="Name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Story</mat-header-cell>
      <mat-cell *matCellDef="let story" (click)="onView(story)">{{story.Name}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="Description">
      <mat-header-cell *matHeaderCellDef>Description</mat-header-cell>
      <mat-cell *matCellDef="let story" (click)="onView(story)" [innerHTML]="story.Description | lineBreakBRs"></mat-cell>
    </ng-container>

    <ng-container matColumnDef="StorySize">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Points</mat-header-cell>
      <mat-cell *matCellDef="let story" (click)="onView(story)">{{story.StorySize}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="IsComplete">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
      <mat-cell *matCellDef="let story" (click)="onView(story)">
        {{story.IsComplete ? 'complete' : 'not done'}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Actions">
      <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
      <mat-cell *matCellDef="let story">
        <button mat-icon-button color="primary" aria-label="Edit" (click)="onEdit(story)">
          <mat-icon aria-hidden="true">edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" aria-label="Remove" (click)="onRemove(story)">
          <mat-icon aria-hidden="true">delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" class="clickabul"></mat-row>
  </mat-table>
</div>