<mat-toolbar>
  <mat-toolbar-row>
    Edit Sprint Story
  </mat-toolbar-row>
</mat-toolbar>

<form [formGroup]="storyForm" (ngSubmit)="onSubmit()">
  <mat-dialog-content>
    <mat-card>
      <mat-card-content>
        <mat-form-field>
          <input matInput type="text" formControlName="Name" placeholder="Name">
          <mat-error *ngIf="Name.invalid && Name.dirty && Name.touched">
            Name must not be blank.
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <textarea matInput matTextareaAutosize matAutosizeMinRows="3" matAutosizeMaxRows="10" formControlName="Description" placeholder="Description"></textarea>
        </mat-form-field>
        <mat-form-field>
          <textarea matInput matTextareaAutosize matAutosizeMinRows="3" matAutosizeMaxRows="10" formControlName="Acceptance" placeholder="Acceptance criteria"></textarea>
        </mat-form-field>
        <mat-form-field>
          <textarea matInput matTextareaAutosize matAutosizeMinRows="3" matAutosizeMaxRows="10" formControlName="RisksDependencies" placeholder="Risks and dependencies"></textarea>
        </mat-form-field>
        <mat-form-field>
          <mat-select formControlName="StorySize" placeholder="Size">
            <mat-option value="">[Optional ...]</mat-option>
            <mat-option *ngFor="let sz of storySizes" [value]="sz">{{sz}}</mat-option>
          </mat-select>
        </mat-form-field>
        <div>
          <mat-checkbox formControlName="IsComplete" color="primary">Complete</mat-checkbox>
        </div>
        <mat-form-field>
          <textarea matInput matTextareaAutosize matAutosizeMinRows="3" matAutosizeMaxRows="10" formControlName="QANotes" placeholder="QA notes"></textarea>
        </mat-form-field>
      </mat-card-content>

      <mat-card-actions>
        <button mat-raised-button color="primary" type="submit" aria-label="Save" [disabled]="!storyForm.valid">
          <mat-icon aria-hidden="true">save</mat-icon>
          Save
        </button>
        <button mat-raised-button color="warn" aria-label="Cancel" mat-dialog-close>
          <mat-icon aria-hidden="true">cancel</mat-icon>
          Cancel
        </button>
      </mat-card-actions>
    </mat-card>
  </mat-dialog-content>
</form>
