<mat-toolbar>
  <mat-toolbar-row>
    View Story &gt; {{story?.Name}}
  </mat-toolbar-row>
</mat-toolbar>

<mat-dialog-content>
  <mat-card>
    <mat-card-content>
      <b>Size:</b> {{story?.StorySize}}
      <br>
      <b>Status:</b> {{story?.IsComplete === 1 ? 'complete' : 'not done'}}
      <br>
      <b>Description:</b>
      <br>
      <span [innerHTML]="story?.Description | lineBreakBRs"></span>
      <br>
      <b>Acceptance Criteria:</b>
      <br>
      <span [innerHTML]="story?.Acceptance | lineBreakBRs"></span>
      <br>
      <b>QA Notes:</b>
      <br>
      <span [innerHTML]="story?.QANotes | lineBreakBRs"></span>
    </mat-card-content>

    <mat-card-actions>
      <button mat-raised-button color="primary" aria-label="Edit" (click)="onEdit()">
        <mat-icon aria-hidden="true">edit</mat-icon>
        Edit
      </button>
      <button mat-raised-button color="accent" aria-label="Close" mat-dialog-close>
        <mat-icon aria-hidden="true">cancel</mat-icon>
        Close
      </button>
    </mat-card-actions>
  </mat-card>

  <sat-story-issue-list [productId]="productId" [storyId]="storyId"></sat-story-issue-list>
</mat-dialog-content>
