<mat-toolbar>
  <mat-toolbar-row>
    Add Story
  </mat-toolbar-row>
</mat-toolbar>

<form [formGroup]="styForm" (ngSubmit)="onSubmit()">
  <mat-dialog-content>
    <mat-card>
      <mat-card-content>
        <mat-form-field>
          <mat-select formControlName="StoryId" placeholder="Story">
            <mat-option value="">[Select one ...]</mat-option>
            <mat-option *ngFor="let story of stories" [value]="story.Id">{{story.Name}}</mat-option>
          </mat-select>
          <mat-error *ngIf="StoryId.invalid && StoryId.dirty && StoryId.touched">
            A Story must be selected.
          </mat-error>
        </mat-form-field>
      </mat-card-content>

      <mat-card-actions>
        <button mat-raised-button color="primary" type="submit" aria-label="Save" [disabled]="!styForm.valid">
          <mat-icon aria-hidden="true">save</mat-icon>
          Save
        </button>
        <button mat-raised-button color="warn" aria-label="Cancel" mat-dialog-close>
          <mat-icon aria-hidden="true">cancel</mat-icon>
          Cancel
        </button>
      </mat-card-actions>
    </mat-card>
  </mat-dialog-content>
</form>
