<mat-toolbar>
  <mat-toolbar-row>
    View Issue &gt; {{issue?.Name}}
  </mat-toolbar-row>
</mat-toolbar>

<mat-dialog-content>
  <mat-card>
    <mat-card-content>
      <b>Description:</b>
      <br>
      <span [innerHTML]="issue?.Description"></span>
      <br>
      <b>Assigned to:</b> {{assignedUser}}
      <br>
      <b>Status:</b> {{issue.Status}}
    </mat-card-content>

    <mat-card-actions>
      <button mat-raised-button color="primary" aria-label="Edit" (click)="onEdit()">
        <mat-icon aria-hidden="true">edit</mat-icon>
        Edit
      </button>
      <button mat-raised-button color="accent" aria-label="Close" mat-dialog-close>
        <mat-icon aria-hidden="true">cancel</mat-icon>
        Close
      </button>
    </mat-card-actions>
  </mat-card>
</mat-dialog-content>
