<mat-toolbar>
  <mat-toolbar-row class="row2">
    Issues

    <span class="flexspacer"></span>
    
    <mat-form-field class="toolbar" *ngIf="hasIssues && !showSpinner">
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>

    <span class="flexspacer"></span>

    <button mat-raised-button color="accent" (click)="onAdd()">Add Issue</button>
  </mat-toolbar-row>
</mat-toolbar>

<sat-spinner [show]="showSpinner" [size]="'small'"></sat-spinner>

<mat-card *ngIf="!hasIssues && !showSpinner">
  <mat-card-content>
    There are currently no issues for this story.
  </mat-card-content>
</mat-card>

<div [style.display]="(hasIssues && !showSpinner) ? 'block' : 'none'">
  <mat-table matSort matSortActive="Name" matSortDirection="asc" #table>
    <ng-container matColumnDef="Name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
      <mat-cell *matCellDef="let i" (click)="onView(i)">{{i.Name}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="AssignedName">
      <mat-header-cell *matHeaderCellDef mat-sort-header>AssignedName</mat-header-cell>
      <mat-cell *matCellDef="let i" (click)="onView(i)">{{i.AssignedName}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="Status">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
      <mat-cell *matCellDef="let i" (click)="onView(i)">{{i.Status}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="Actions">
      <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
      <mat-cell *matCellDef="let i">
        <button mat-icon-button color="primary" aria-label="Edit" (click)="onEdit(i)">
          <mat-icon aria-hidden="true">edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" aria-label="Delete" (click)="onDelete(i)">
          <mat-icon aria-hidden="true">delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" class="clickabul"></mat-row>
  </mat-table>
</div>