<mat-card>
  <h4>Release Details</h4>

  <mat-card-content>
    <div>#{{sprint.ReleaseNumber}}</div>

    <div>
      <b>Release date:</b> {{sprint.ReleaseDate | date:'M/d/yyyy'}}
    </div>
  </mat-card-content>
</mat-card>