<mat-toolbar>
  <mat-toolbar-row>
    {{title}}
  </mat-toolbar-row>
</mat-toolbar>

<form [formGroup]="sprtForm" (ngSubmit)="onSubmit()">
  <mat-dialog-content>
    <mat-card>
      <mat-card-content>
        <mat-form-field>
          <input matInput type="integer" formControlName="SprintNumber" placeholder="Sprint number">
          <mat-error *ngIf="SprintNumber.invalid && SprintNumber.dirty && SprintNumber.touched">
            {{SprintNumber.errors.min ? 'Release number must be at least 1.' : 'Release number must not be blank.'}}
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <textarea matInput matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="6" formControlName="Goal" placeholder="Goal"></textarea>
        </mat-form-field>
        <mat-form-field>
          <input matInput [matDatepicker]="StartDate" formControlName="StartDate" placeholder="Start date">
          <mat-datepicker-toggle matSuffix [for]="StartDate"></mat-datepicker-toggle>
          <mat-datepicker #StartDate></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
          <input matInput [matDatepicker]="EndDate" formControlName="EndDate" placeholder="End date">
          <mat-datepicker-toggle matSuffix [for]="EndDate"></mat-datepicker-toggle>
          <mat-datepicker #EndDate></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
          <mat-select formControlName="ReleaseId" placeholder="Add to release">
            <mat-option value="">[Optional ...]</mat-option>
            <mat-option *ngFor="let rel of releases" [value]="rel.Id">
              {{rel.ReleaseNumber}}
              [{{rel.ReleaseDate | date:'M/d/yyyy'}}]
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-card-content>

      <mat-card-actions>
        <button mat-raised-button color="primary" type="submit" aria-label="Save" [disabled]="!sprtForm.valid">
          <mat-icon aria-hidden="true">save</mat-icon>
          Save
        </button>
        <button mat-raised-button color="warn" aria-label="Cancel" mat-dialog-close>
          <mat-icon aria-hidden="true">cancel</mat-icon>
          Cancel
        </button>
      </mat-card-actions>
    </mat-card>
  </mat-dialog-content>
</form>
