<mat-toolbar>
  <mat-toolbar-row class="row3">
    Sprints

    <span class="flexspacer"></span>

    <mat-form-field class="toolbar" *ngIf="hasSprints && !showSpinner">
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>

    <span class="flexspacer"></span>

    <button mat-raised-button color="primary" (click)="onAdd()">Add Sprint</button>
  </mat-toolbar-row>
</mat-toolbar>

<sat-spinner [show]="showSpinner"></sat-spinner>

<mat-card *ngIf="!hasSprints && !showSpinner">
  <mat-card-content>
    There are currently no sprints for this product.
  </mat-card-content>
</mat-card>

<div [style.display]="(hasSprints && !showSpinner) ? 'block' : 'none'">
  <mat-table matSort matSortActive="SprintNumber" matSortDirection="desc" #table>
    <ng-container matColumnDef="SprintNumber">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Sprint</mat-header-cell>
      <mat-cell *matCellDef="let sprint" routerLink="./{{sprint.Id}}">{{sprint.SprintNumber}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="Goal">
      <mat-header-cell *matHeaderCellDef class="padd">Goal</mat-header-cell>
      <mat-cell *matCellDef="let sprint" class="padd" [innerHTML]="sprint.Goal | lineBreakBRs" routerLink="./{{sprint.Id}}"></mat-cell>
    </ng-container>

    <ng-container matColumnDef="StartDate">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Start</mat-header-cell>
      <mat-cell *matCellDef="let sprint" routerLink="./{{sprint.Id}}">{{sprint.StartDate | date:'M/d/yyyy'}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="EndDate">
      <mat-header-cell *matHeaderCellDef mat-sort-header>End</mat-header-cell>
      <mat-cell *matCellDef="let sprint" routerLink="./{{sprint.Id}}">{{sprint.EndDate | date:'M/d/yyyy'}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="ReleaseNumber">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Release</mat-header-cell>
      <mat-cell *matCellDef="let sprint" routerLink="./{{sprint.Id}}">{{sprint.ReleaseNumber}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="Actions">
      <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
      <mat-cell *matCellDef="let sprint">
        <button mat-icon-button color="primary" aria-label="Edit" (click)="onEdit(sprint)">
          <mat-icon aria-hidden="true">edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" aria-label="Delete" (click)="onDelete(sprint)">
          <mat-icon aria-hidden="true">delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" class="clickabul"></mat-row>
  </mat-table>
</div>