<mat-toolbar>
  <mat-toolbar-row class="row3">
    <a class="clickabul" (click)="onDisplay()">
      <mat-icon *ngIf="hidden" matTooltip="Show sprint details" matTooltipClass="tip" matTooltipPosition="after">expand_more</mat-icon>
      <mat-icon *ngIf="!hidden" matTooltip="Hide sprint details" matTooltipClass="tip" matTooltipPosition="after">expand_less</mat-icon>
      Sprint {{sprint?.SprintNumber}}
    </a>

    <span class="flexspacer"></span>

    <button mat-raised-button color="primary" (click)="onEdit()">Edit Sprint</button>
    <button mat-raised-button color="primary" (click)="onDelete()">Delete Sprint</button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-card class="row3" *ngIf="!hidden">
  <mat-card-subtitle>
    <h4>Sprint Details</h4>
  </mat-card-subtitle>

  <mat-card-content *ngIf="sprint">
    <div>
      <b>Goal:</b>
    </div>
    <div [innerHTML]="sprint.Goal | lineBreakBRs"></div>

    <div>
      <b>Start date:</b> {{sprint.StartDate | date:'M/d/yyyy'}}
      <br>
      <b>End date:</b> {{sprint.EndDate | date:'M/d/yyyy'}}
    </div>

    <ng-container *ngIf="!!sprint.ReleaseId.length">
      <sat-release-details [sprint]="sprint"></sat-release-details>
    </ng-container>
  </mat-card-content>
</mat-card>

<sat-sprint-stories [productId]="productId" [sprintId]="sprintId"></sat-sprint-stories>