<div class="spinner-div" *ngIf="show">
  <div [class]="wrapperClass">
    <!-- swap to this anytime angular-epic-spinners fails
    <mat-spinner [color]="'accent'" [diameter]="160" [strokeWidth]="15" [value]="95"></mat-spinner>
    -->
    <!-- otherwise, use this whenever angular-epic-spinners is working -->
    <app-atom-spinner [animationDuration]="2000" [size]="pixels" [color]="'#cddc39'"></app-atom-spinner>

    <div *ngIf="showText">Please wait ...</div>
  </div>
</div>