<div class="floatbox">
  <mat-card class="contentBox">
    <mat-card-title>
      Update Account
    </mat-card-title>

    <mat-card-content *ngIf="!isLoggedIn">
      You must be logged in before you can update your information.
    </mat-card-content>

    <mat-card-content *ngIf="isLoggedIn">
      Update information for your account which uses the login '{{email}}'.
    </mat-card-content>

    <form [formGroup]="acctForm" (ngSubmit)="onSubmit()">
      <mat-card-content>
        <mat-form-field>
          <input matInput formControlName="displayName" placeholder="Your display name">
          <mat-error *ngIf="displayName.invalid && displayName.dirty && displayName.touched">
            Your display name must not be blank.
          </mat-error>
        </mat-form-field>
      </mat-card-content>

      <mat-card-actions>
        <button mat-raised-button color="primary" type="submit" aria-label="Login" [disabled]="!acctForm.valid">
          <mat-icon aria-hidden="true">save</mat-icon>
          Update
        </button>
        <button mat-raised-button color="primary" type="submit" aria-label="Cancel" [routerLink]="['/home']">
          <mat-icon aria-hidden="true">cancel</mat-icon>
          Cancel
        </button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>