<div class="floatbox">
  <mat-card class="contentBox">
    <mat-card-title>
      Ban Hammer
    </mat-card-title>

    <mat-card-content>
      Sorry to break it to you, but it appears that your account has been banned from this site.
    </mat-card-content>
  </mat-card>
</div>