<div class="floatbox">
  <mat-card class="contentBox">
    <mat-card-title>
      Invalid Account
    </mat-card-title>

    <mat-card-content>
      Sorry to break it to you, but it appears that your account has been deleted from this site.
    </mat-card-content>
  </mat-card>
</div>