<div class="floatbox">
  <mat-card class="loginForm">
    <mat-card-title>
      Login to Continue
    </mat-card-title>

    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <mat-card-content>
        <mat-form-field>
          <input matInput type="email" formControlName="UserName" placeholder="Username (email)">
          <mat-error *ngIf="UserName.invalid && UserName.dirty && UserName.touched">
            {{UserName.errors.email ? 'Username must be a valid email.' : 'Username must not be blank.'}}
          </mat-error>
        </mat-form-field>
        <br>
        <mat-form-field>
          <input matInput type="password" formControlName="Password" placeholder="Password">
          <mat-error *ngIf="Password.invalid && Password.dirty && Password.touched">
            Password must not be blank.
          </mat-error>
        </mat-form-field>
      </mat-card-content>

      <mat-card-actions>
        <button mat-raised-button color="primary" type="submit" aria-label="Login" [disabled]="!loginForm.valid">
          <mat-icon aria-hidden="true">verified_user</mat-icon>
          Login
        </button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>