<div class="floatbox">
  <mat-card class="contentBox">
    <mat-card-title>
      404 Error
    </mat-card-title>

    <mat-card-content>
      Sorry, the page you requested could not be found.
    </mat-card-content>
  </mat-card>
</div>