@import '../node_modules/@angular/material/theming';

$custom-typography: mat-typography-config($font-family: 'Open Sans, sans-serif');

@include mat-core($custom-typography);

$sat-primary: mat-palette($mat-teal, 800, 500, 200);
$sat-accent: mat-palette($mat-lime, 500, 300, A700);
$sat-warn: mat-palette($mat-deep-orange, 800);

$sat-theme: mat-light-theme($sat-primary, $sat-accent, $sat-warn);

@include angular-material-theme($sat-theme);
