html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

@import 'sat-theme';

mat-toolbar-row {
  background-color: mat-color($sat-primary, 800);
  color: mat-color($sat-primary, default-contrast);
  font-weight: 600;
}

mat-toolbar-row.row2 {
  background-color: mat-color($sat-primary, 500);
  font-size: 0.8em;
}

mat-toolbar-row.row3 {
  background-color: mat-color($sat-primary, 200);
  color: mat-color($sat-primary, default);
  font-size: 0.8em;
}

mat-toolbar-row.row4 {
  background-color: mat-color($sat-accent, 500);
  color: mat-color($sat-accent, default-contrast);
  font-size: 0.8em;
}

mat-card.row2 {
  background-color: linen;
  font-weight: normal;
  border: mat-color($sat-primary, 500) 2px solid;
}

mat-card.row3 {
  background-color: linen;
  font-weight: normal;
  border: mat-color($sat-primary, 200) 2px solid;
}

mat-card.row4 {
  background-color: linen;
  font-weight: normal;
  border: mat-color($sat-accent, 500) 2px solid;
}

mat-form-field.toolbar, mat-checkbox.toolbar {
  font-weight: normal;
  font-size: 0.8em;
}

mat-form-field {
  width: 50%;
}

mat-dialog-content mat-card {
  margin-bottom: 5px;
}

mat-dialog-content mat-form-field, .loginForm mat-form-field {
  width: 100%;
}

mat-dialog-content mat-form-field.toolbar {
  width: 50%;
}

mat-card-title h2 {
  background-color: mat-color($sat-primary, 800);
  color: mat-color($sat-primary, default-contrast);
  padding: 5px 5px;
}

mat-card-subtitle h3 {
  background-color: mat-color($sat-primary, 500);
  color: mat-color($sat-primary, default-contrast);
  padding: 6px 10px;
}

mat-card-subtitle h4 {
  background-color: mat-color($sat-primary, 200);
  color: mat-color($sat-primary, default);
  padding: 6px 10px;
}

mat-card-subtitle h4.row2 {
  background-color: mat-color($sat-primary, 500);
  color: mat-color($sat-primary, default-contrast);
}

mat-card-actions.bordered {
  border: 2px mat-color($sat-accent, 300) solid;
  padding: 0 10px;
}

[mat-tab-link].active, button.active {
  background-color: mat-color($sat-accent);
  color: mat-color($sat-accent, default-contrast);
}

[mat-tab-link].active-rev, button.active-rev {
  background-color: mat-color($sat-primary);
  color: mat-color($sat-primary, default-contrast);
}

.mat-snack-bar-container {
  background-color: mat-color($sat-primary);
  color: mat-color($sat-primary, default-contrast);
}

.spacer {
  margin: 0.5em;
}

.flexspacer {
  flex: 1 1 auto;
}

.spinner-div {
  width: 100%;
  text-align: center;
}

.spinner-bucket {
  margin: auto;
  width: 160px;
  height: 160px;
}

.spinner-bucket-small {
  margin: auto;
  width: 120px;
  height: 120px;
}

.clickabul {
  cursor: pointer;
}

[mat-tab-link].unclik {
  cursor: text;
}

.loginForm {
  width: 400px;
  height: 400px;
}

.floatbox {
  display: flex;
  justify-content: center;
}

.contentBox {
  width: 800px;
  min-height: 600px;
}

.tableBox {
  width: 1200px;
  min-height: 600px;
}

mat-cell.padd, .mat-cell padd, mat-header-cell.padd, .mat-header-cell padd {
  padding: 0 2em 0 0;
}

.tip {
  font-size: 0.9em;
}