<mat-toolbar>
  <mat-toolbar-row class="row4">
    Features

    <span class="flexspacer"></span>

    <mat-form-field class="toolbar" *ngIf="hasFeatures && !showSpinner">
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>

    <span class="flexspacer"></span>

    <button mat-raised-button color="primary" (click)="onAdd()">Add Feature</button>
  </mat-toolbar-row>
</mat-toolbar>

<sat-spinner [show]="showSpinner"></sat-spinner>

<mat-card *ngIf="!hasFeatures && !showSpinner">
  <mat-card-content>
    There are currently no features for this epic.
  </mat-card-content>
</mat-card>

<div [style.display]="(hasFeatures && !showSpinner) ? 'block' : 'none'">
  <mat-table matSort matSortActive="Priority" matSortDirection="asc" #table>
    <ng-container matColumnDef="Priority">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Priority</mat-header-cell>
      <mat-cell *matCellDef="let feature" routerLink="./feature/{{feature.Id}}">{{feature.Priority}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="Title">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Feature</mat-header-cell>
      <mat-cell *matCellDef="let feature" routerLink="./feature/{{feature.Id}}">{{feature.Title}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="Description">
      <mat-header-cell *matHeaderCellDef>Description</mat-header-cell>
      <mat-cell *matCellDef="let feature" [innerHTML]="feature.Description | lineBreakBRs" routerLink="./feature/{{feature.Id}}"></mat-cell>
    </ng-container>

    <ng-container matColumnDef="Items">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Items</mat-header-cell>
      <mat-cell *matCellDef="let feature" routerLink="./feature/{{feature.Id}}">{{feature.Items}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="Actions">
      <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
      <mat-cell *matCellDef="let feature">
        <button mat-icon-button color="primary" aria-label="Edit" (click)="onEdit(feature)">
          <mat-icon aria-hidden="true">edit</mat-icon>
        </button>
        <button mat-icon-button color="accent" aria-label="Convert to Item" (click)="onConvert(feature)">
          <mat-icon aria-hidden="true">autorenew</mat-icon>
        </button>
        <button mat-icon-button color="warn" aria-label="Delete" (click)="onDelete(feature)">
          <mat-icon aria-hidden="true">delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" class="clickabul"></mat-row>
  </mat-table>
</div>