<mat-toolbar>
  <mat-toolbar-row>
    Convert '{{feature?.Title}}' to an Item
  </mat-toolbar-row>
</mat-toolbar>

<form [formGroup]="featCvtForm" (ngSubmit)="onSubmit()">
  <mat-dialog-content>
    <mat-card>
      <mat-card-content>
        <mat-form-field>
          <mat-select formControlName="FeatureId" placeholder="Feature">
            <mat-option value="">[Select one ...]</mat-option>
            <mat-option *ngFor="let ftr of features" [value]="ftr.Id">{{ftr.Title}}</mat-option>
          </mat-select>
          <mat-error *ngIf="FeatureId.invalid && FeatureId.dirty && FeatureId.touched">
            A Feature must be selected.
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="text" formControlName="Name" placeholder="Name">
          <mat-error *ngIf="Name.invalid && Name.dirty && Name.touched">
            Name must not be blank.
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <textarea matInput matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="6" formControlName="Description" placeholder="Description"></textarea>
        </mat-form-field>
        <mat-form-field>
          <textarea matInput matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="6" formControlName="RisksDependencies" placeholder="Risks and dependencies"></textarea>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="integer" formControlName="Priority" placeholder="Priority">
        </mat-form-field>
        <mat-form-field>
          <mat-select formControlName="SprintId" placeholder="Sprint">
            <mat-option value="">[Optional ...]</mat-option>
            <mat-option *ngFor="let sprint of sprints" [value]="sprint.Id">
              {{sprint.SprintNumber}}
              [{{sprint.StartDate | date:'M/d/yyyy'}} &ndash; {{sprint.EndDate | date:'M/d/yyyy'}}]
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-card-content>

      <mat-card-actions>
        <button mat-raised-button color="primary" type="submit" aria-label="Save" [disabled]="!featCvtForm.valid">
          <mat-icon aria-hidden="true">save</mat-icon>
          Save
        </button>
        <button mat-raised-button color="warn" aria-label="Cancel" mat-dialog-close>
          <mat-icon aria-hidden="true">cancel</mat-icon>
          Cancel
        </button>
      </mat-card-actions>
    </mat-card>
  </mat-dialog-content>
</form>
