<mat-toolbar>
  <mat-toolbar-row class="row3">
    <a class="clickabul" (click)="onDisplay()">
      <mat-icon *ngIf="hidden" matTooltip="Show feature details" matTooltipClass="tip" matTooltipPosition="after">expand_more</mat-icon>
      <mat-icon *ngIf="!hidden" matTooltip="Hide feature details" matTooltipClass="tip" matTooltipPosition="after">expand_less</mat-icon>
      {{title}}
    </a>

    <span class="flexspacer"></span>

    <button mat-raised-button color="primary" [routerLink]="['/products', 'p', productId, 'epics', epicId]">Back to Epic</button>
    <button mat-raised-button color="primary" (click)="onEdit()">Edit Feature</button>
    <button mat-raised-button color="primary" (click)="onDelete()">Delete Feature</button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-card class="row3" *ngIf="!hidden">
  <mat-card-subtitle>
    <h4>Feature Details</h4>
  </mat-card-subtitle>

  <mat-card-content *ngIf="feature">
    <div [innerHTML]="feature.Description | lineBreakBRs"></div>

    <ng-container *ngIf="feature.RisksDependencies && !!feature.RisksDependencies.length">
      <div>
        <b>Risks and Dependencies:</b>
      </div>

      <div [innerHTML]="feature.RisksDependencies | lineBreakBRs"></div>
    </ng-container>
  </mat-card-content>
</mat-card>

<sat-items [productId]="productId" [epicId]="epicId" [featureId]="featureId"></sat-items>